
<nav class="p-3" style="background-color: #62911c;">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row items-center justify-between">
      
      <!-- Logo y título -->
      <div class="flex items-center mb-4 md:mb-0">
        <img src="assets/images/logo2.png" alt="Logo" class="h-9 w-12 mr-3"/>
        <span class="text-white font-bold text-xl">Game Classic´s Pass</span>
      </div>

      <!-- Enlaces y buscador -->
      <div class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-6">
        <a href="#" class="text-white hover:text-[#d2eaad] font-medium">Inicio</a>
        <a href="#" class="text-white hover:text-[#d2eaad] font-medium">Acerca de</a>
        
        <div class="relative">
          <input
            type="search"
            placeholder="Buscar..."
            [(ngModel)]="searchQuery"
            (keyup.enter)="onSearch($event)"
            class="px-4 py-1 rounded-lg focus:outline-none focus:ring-2 focus:ring-amber-50"
          />
          <button (click)="onSearchButtonClick()" class="absolute right-3 top-1/2 transform -translate-y-1/2 hover:opacity-80 transition-opacity">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 oklch(14.5% 0 0)" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>
</nav>